<%= link_to "New Blood Order", new_order_path, class: "btn-large"%>
<%= link_to "Log Out", destroy_hospital_session_path, method: "delete", class: "btn-large right"%>

<div class="table-box white card hoverable z-depth-4"><p class="table_head">Blood Orders</p>
  <table class="responsive-table striped">
    <thead>
        <tr>
            <th>Blood Type</th>
            <th>Blood Bank Name</th>
            <th>Volume(in ml)</th>
            <th>Date</th> 
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%=order.blood_type%></td>
          <td><%= order.bank.name %></td>
          <td><%= order.amount %></td>
          <td><%= order.created_at%></td>
          <td><%= order.status%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>